<form action='/team' method="POST">
  <h1>Create a Team and Heroes!</h1>
  <label for="team_name">Team Name: </label>
  <input id="team_name" type="text" name="superhero[name]" /><br>
  <label for="team_motto">Team Motto: </label>
  <input id="team_motto" type="text" name="superhero[motto]" /><br>
  
  <h2>Hero 1</h2>
  <label for="heros_name1">Hero's Name</label>
  <input id="heros_name1" type="text" name="superhero[name]" /><br>
  <label for="heros_power1">Hero's Power</label><input id="heros_power1" type="text" name="superhero[power]"><br>
  
  <h2>Hero 2</h2><br>
  <label for="heros_name2">Hero's Name</label>
  <input id="heros_name2" type="text" name="superhero[name]" /><br>
  <label for="heros_power2">Hero's Power</label><input id="heros_power2" type="text" name="superhero[power]"<br>
  
  <h2>Hero 2</h2><br>
  <label for="heros_name3">Hero's Name</label>
  <input id="heros_name3" type="text" name="superhero[name]" /><br>
  <label for="heros_power3">Hero's Power</label><input id="heros_power3" type="text" name="superhero[power]">
  <input type="submit" name="submit">

</form>  